<!-- Hero Section -->
<section class="hero-section text-center text-white top-0 w-100">
  <div
    class="align-items-center d-flex flex-column h-100 justify-content-center mt-5 mt-md-0 w-100"
  >
    <h1 class="display-4 fw-bold glowing-text fs-1 fs-md-3">
      Achieve Your Fitness Goals with GymFuse
    </h1>
    <p class="lead fs-5 fs-md-4">
      Get the best workout plans, diet recommendations, and find gyms near you
      with ease!
    </p>
    <a href="#workouts" class="btn btn-lg btn-outline-primary">Get Started</a>
  </div>
</section>

<!-- Workout Plans Section -->
<section id="workouts" class="my-4">
  <div class="container text-center">
    <h2 class="fw-bold mb-4 text-primary">Our Workout Plans</h2>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <% workouts.forEach(workout => { %>
      <div class="col workout-card">
        <div class="border card h-100 shadow-lg">
          <img
            src="images/workouts/<%= workout.image %>"
            class="card-img-top rounded"
            alt="<%= workout.name %>"
            loading="lazy"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-primary"><%= workout.name %></h5>
            <p class="card-text">
              <%= workout.short_description.substring(0, 100) %>...
            </p>
            <a
              href="/workouts/<%= workout.id %>"
              class="btn btn-primary mt-auto w-100"
              >Learn More</a
            >
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <a href="/workouts" class="btn btn-outline-primary mt-4">Show More</a>
  </div>
</section>

<!-- Diet Plans Section -->
<section id="diet" class="mb-4">
  <div class="container text-center">
    <h2 class="fw-bold mb-4 text-primary">Personalized Diet Plans</h2>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <% diets.forEach(diet => { %>
      <div class="col diet-card">
        <div class="border card h-100 shadow-lg">
          <img
            src="images/diets/<%= diet.image %>"
            class="card-img-top rounded"
            alt="<%= diet.name %>"
            loading="lazy"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-primary"><%= diet.name %></h5>
            <p class="card-text">
              <%= diet.description.substring(0, 100) %>...
            </p>
            <a
              href="/diets/<%= diet.id %>"
              class="btn btn-primary mt-auto w-100"
              >Learn More</a
            >
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <a href="/diets" class="btn btn-outline-primary mt-4">Show More</a>
  </div>
</section>

<!-- Gym Locator Section -->
<section id="locator" class="mb-4">
  <div class="container text-center">
    <h2 class="fw-bold mb-4 text-primary">Find Nearby Gyms</h2>
    <p class="lead mb-4">
      Easily find gyms near you by browsing the list below.
    </p>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <% gyms.forEach(gym => { %>
      <div class="col gym-card">
        <div class="border card h-100 shadow-lg">
          <img
            src="<%= gym.image %>"
            class="card-img-top rounded"
            alt="<%= gym.name %>"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-primary"><%= gym.name %></h5>
            <p class="card-text"><%= gym.description.substring(0, 100) %></p>
            <p class="card-text">
              <strong>Address:</strong> <%= gym.address %>
            </p>
            <a href="/gyms/<%= gym.id %>" class="btn btn-primary mt-auto"
              >Learn More</a
            >
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <a href="/gyms" class="btn btn-outline-primary mt-4">Show More</a>
  </div>
</section>
